<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments/favicon-head :: favicon}"></th:block>
    <th:block th:replace="~{fragments/pwa-head :: pwa}"></th:block>
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/releases.css}">
    <script th:src="@{/js/theme-switcher.js}"></script>
    <title>版本更新 - bytedepth</title>
</head>
<body>
<nav th:replace="~{fragments/nav :: navbar(true)}"></nav>
<main class="bd-releases">
    <header class="bd-releases__header"><h1 class="bd-releases__title">版本更新</h1><p class="bd-releases__intro">每个正式版本均对应一个不可变的 Git Tag。</p></header>
    <article class="bd-releases__content" th:utext="${releaseNotesHtml}"></article>
</main>
</body>
</html>
